body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

/* NỀN TRANG ĐĂNG NHẬP / ĐĂNG KÝ */
.auth-container {
    background: linear-gradient(135deg, #f5f8ff, #e9edff);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HỘP FORM */
.auth-box {
    background: #ffffff;
    padding: 35px;
    border-radius: 20px;
    width: 420px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.1);
}

/* TIÊU ĐỀ */
.auth-box h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #1f2a44;
    margin-bottom: 8px;
}

.auth-box p {
    font-size: 15px;
    color: #5c6b82;
}


/* INPUT */
.form-group {
    position: relative;
}

.form-group input {
    width: 100%;
   padding: 14px 45px 14px 16px;
    font-size: 15px;
    border-radius: 12px;
    border: 1px solid #dce3f0;
    margin-bottom: 15px;
    background: #f9fbff;
    color: #2e3a59;
    font-size: 14px;
}

/* ICON CON MẮT */
.toggle-password {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6c7a92;
    font-size: 15px;
}

.toggle-password:hover {
    color: #4b6cff;
}

/* NÚT */
.btn-login {
    width: 100%;
    padding: 14px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(90deg, #4f7cff, #5b8cff);
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.2s;
    font-size: 16px;
}

.btn-login:hover {
    background: #354fcf;
}

/* LINK */
.register-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.register-link a {
    color: #4b6cff;
    font-weight: bold;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

/* THÔNG BÁO LỖI */
.error-text {
    background: #ffe4e4;
    color: #d00000;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 14px;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    color: #6c7a92;
    font-size: 14px;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #dce3f0;
}

.divider:not(:empty)::before {
    margin-right: 10px;
}

.divider:not(:empty)::after {
    margin-left: 10px;
}
