.preview-box {
    display: inline-block;
    position: relative;
    margin: 5px;
    cursor: move;
}

.preview-box img {
    height: 120px;
    border-radius: 10px;
    border: 2px solid #ddd;
}

.remove-btn {
    position: absolute;
    top: -8px;
    right: -8px;
    background: red;
    color: #fff;
    border-radius: 50%;
    font-size: 14px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
}
.drop-zone {
    border: 2px dashed #0d6efd;
    padding: 25px;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
    background: #f8f9fa;
}
